@import '../variables';

.Home {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $light;
  text-align: center;

  // @media (max-width: 1024px) {
  //   min-height: 80vh;
  // }

  &-subtitle {
    margin-bottom: 2.5em;
  }

  &+footer {
    margin-left: 60px;
  }
}

.Home-logo {
  margin-bottom: 1.2em;
  height: 14vmin;
  pointer-events: none;
}

.Home-title {
  position: relative;
  z-index: 1;
  @include font-bold;
  font-size: calc(3.5vw + 3.5vh);
  letter-spacing: -.04em;
    &::before {
      position: absolute;
      z-index: -1;
      content: '';
      border-top: .25em solid $light;
      opacity: 0.2;
      width: 120%;
      top: 35%;
      left: -5%;
    }
    &::after {
      position: absolute;
      z-index: -1;
      content: '';
      border-top: .25em solid $light;
      opacity: 0.2;
      width: 120%;
      top: 70%;
      right: -10%;
    }
}
