@import '../variables';

.Home {
  background-color: $dark;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $light;
  text-align: center;

  &-subtitle {
    margin-bottom: 2.5em;
  }
}

.Home-logo {
  margin-bottom: 1.2em;
  height: 14vmin;
  pointer-events: none;
}

.Home-title {
  position: relative;
  z-index: 1;
  @include font-bold;
  font-size: calc(3.5vw + 3.5vh + 2vmin);
  letter-spacing: -.04em;
    &::before {
      position: absolute;
      z-index: -1;
      content: '';
      border-top: .25em solid $gray;
      width: 120%;
      top: 35%;
      left: -5%;
    }
    &::after {
      position: absolute;
      z-index: -1;
      content: '';
      border-top: .25em solid $gray;
      width: 120%;
      top: 70%;
      right: -10%;
    }
}

.Home-button {
  @include button-primary;
}
