@import '../variables';

.Work {
    background-color: $primary;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $light;
    text-align: center;
}