@import '../variables';

footer {
    margin-bottom: 0;
    color: $light;
    @include font-light;
    font-size: 12px;
    text-transform: uppercase;
  
    span {
      margin-right: .5em;
    }

    a {
        color: $light;
    }
  }