@import '../variables';

footer {
    z-index: 5;
    position: absolute;
    bottom: 30px;
    left: 60px;
    color: $light;
    @include font-light;
    font-size: 12px;
    text-transform: uppercase;
  
    span {
      margin-right: .5em;
    }

    a {
        color: $light;
    }
  }