@import 'variables';

.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: $dark;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $light;
}

.App-title {
  @include font-bold;
  font-size: calc(3.5vw + 3.5vh + 2vmin);
  letter-spacing: -.04em;
}

.App-button {
  @include button-primary;
  margin-top: 2em;
}
