@import 'variables';

// Typography
body {
  margin: 0;
  @include font-light;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  line-height: 1em;
}

::-moz-selection {
  color: $dark;
  background: $light; 
}

::selection {
  color: $dark;
  background: $light; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  z-index: 5;
  position: absolute;
  bottom: 2%;
  left: 2.2%;
  color: $light;
  @include font-light;
  font-size: 12px;
  text-transform: uppercase;

  span {
    margin-right: .5em;
  }
}