$light: #FFFFFF;
$gray: #343434;
$dark: #2B2B2B;
$primary: #ee7752;
$secondary: #e73c7e;
$tertiary: #23a6d5;
$accent: #23d5ab;

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,600;0,700;0,900;1,900&display=swap');

@mixin font-light {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}

@mixin font-semibold {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}

@mixin font-bold {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}

@mixin font-black {
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
}

@mixin font-blackitalic {
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    font-style: italic;
}

// Buttons
@mixin button-primary {
    padding: .9em 3em;
    background-color: transparent;
    color: $light;
    border: 5px solid $light;
    @include font-bold;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .15em;
    outline: none;
    cursor: pointer;
    
    &:hover {
    background-color: $light;
    color: $dark;
    }
}